.mdl-button--floating-action {
    position: fixed;
    right: 24px;
    bottom: 124px;
    padding-top: 24px;
    margin-bottom: 0;
    z-index: 998;
}

.mdl-card-square.mdl-card {
  width: 320px;
  height: 320px;
}

.mdl-card-square > .mdl-card__title {
  color: #fff;
  /*background-color: #46B6AC;*/
  background-color: #ff5252;
}

.mdl-button--white{
    color: #ffffff;
}

#checklists mdl-card-square {
    display: inline-block;
    vertical-align: middle;
}

#toDoWindow {
    display: none;
    margin: 0 auto;
    margin-top: 20px;
    width: 600px;
    background-color: #ffffff;
}

#to-DoChecklists{
    display: inline;
}