<main className="mdl-layout__content">
  <div className="mdl-grid">
    
    <div id="checklist_index_container" className="mdl-cell mdl-cell--4-col-desktop mdl-cell--4-offset-desktop">
      <%= javascript_pack_tag 'checklists' %>
    </div>
    
  </div>
</main>