$custom_red: #ff5252;

.mdl-card {
    width: 320px;
    height: 320px;
    margin: 20px;
}

.mdl-card > .mdl-card__title {
    color: #fff;
    background-color: $custom_red
}

.mdl-card__menu .material-icons {
    color: white;
}

.mdl-card__menu .material-icons:first-child {
    margin-right: 5px;
}

.mdl-button-corner {
    position: fixed;
    right: 24px;
    bottom: 24px;
    z-index: 1;
    background-color: $custom_red !important;
}

.modal-backdrop {
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.5); /* Black w/ opacity */
}

.modal-container {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    max-width: 600px;
    border-radius: 10px;
}

.mdl-list__item {
    padding: 0px;
    margin: 15px;
    max-height: 34px;
    min-height: 34px !important; //Used to override mdl-list__item min-height
}

.custom-input {
    border-bottom: none;
}

.mdl-list__item-primary-content {
    border-bottom: 2px solid lightgray;
    padding: 0px !important
}

.mdl-textfield.is-disabled .mdl-textfield__input {
    border-bottom: none; //Important to override the mdl disabled input css
    color: black; //Important to override the mdl disabled input css
}

.list-item__bullet {
    margin-right: 10px;
    color: lightgray;
}

.list-item__options {
    color: lightgray;
    border-bottom: 2px solid lightgray;
    padding-top: 2px;
}

.icon-clickable:hover {
    cursor: pointer;
    color: black;
}

.checklist-input-centered {
    text-align: center;
    width: 100%;
}

.checklist-input__name, .checklist-input__name-label {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 45px;
    font-weight: 400;
    line-height: 48px;
    margin-top: 24px;
    margin-bottom: 24px;
    text-align: center;
}

.checklist-input__name {
    color: black;
}

.checklist-input__description, .checklist-input__description-label {
    text-align: center;
}