<!DOCTYPE html>
<html>
  <head>
    <title>Traveasy</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="main_container">
      <%= javascript_pack_tag 'application' %>
    </div>
  </body>
</html>
